.idea/

*.aux
*.log
*.synctex.gz
desktop.ini

+FA19-LING-X490/A6 - Kaggle & Spanish SVMs/Kaggle SVM/data_post-competition/
+FA19-LING-X490/A8 - Final/data/*.csv
+SP20-LING-X490/A0 - FA19 Final Report Revised/data/*.csv
Department/sklearn-demo