[submodule "Department/mal-detection"]
	path = Department/mal-detection
	url = https://github.iu.edu/yc59/mal-detection.git
[submodule "Department/jlcl-offensive"]
	path = Department/jlcl-offensive
	url = https://github.com/chenyueg/jlcl-offensive.git