[submodule "Department/mal-detection"]
	path = Department/mal-detection
	url = https://github.iu.edu/yc59/mal-detection.git
	ignore = dirty
[submodule "Department/jlcl-offensive"]
	path = Department/jlcl-offensive
	url = https://github.com/chenyueg/jlcl-offensive.git
	ignore = dirty
[submodule "Department/sklearn-demo"]
	path = Department/sklearn-demo
	url = https://github.iu.edu/ksteimel/sklearn-demo.git
	ignore = dirty
[submodule "Repos/lexicon-of-abusive-words"]
	path = Repos/lexicon-of-abusive-words
	url = https://github.com/uds-lsv/lexicon-of-abusive-words.git
	ignore = dirty
